*.pyc
*~
*.so
*.pyd
build
.*.swp
.coverage
.cache
doc/_build
doc/_static/cookbook
doc/cookbook
doc/gallery
doc/modules
benchmarks/*.tmp
benchmarks/*.profile
benchmarks/.ipynb_checkpoints
cookbook/_tmp*.png
.ipynb_checkpoints
fatiando.egg-info
.env
MANIFEST
dist/
