*.pyc
*.so
*.pyd
build
.*.swp
*.un~
.coverage
doc/_build
doc/_static/cookbook
doc/cookbook
doc/fatiando*.pdf
doc/gallery
doc/modules
benchmarks/*.tmp
benchmarks/*.profile
benchmarks/.ipynb_checkpoints
cookbook/_tmp*.png
notebooks/_tmp*.png
.ipynb_checkpoints
*.py~
fatiando.egg-info
.env
MANIFEST
dist/
