/* To stick the footer to the bottom of the page */
html {
    position: relative;
    min-height: 100%;
}

body {
    color: #222;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 12pt;
    /* Margin bottom by footer height with a little room to accomodate small
     * screens */
    margin-bottom: 200px;
}

a {
    color: #008CBA;
}

h2 {
    margin-top: 50px;
}

blockquote {
    font-size: 12pt;
    color: #6F6F6F;
}

.alert {
    font-size: 12pt;
}

.alert a {
    color: #FFF;
    text-decoration: underline;
}

.page-container {
    margin-top: 35px;
}

.footer {
    color: #6F6F6F;
    margin-top: 50px;
    padding-bottom: 30px;
    font-size: 11pt;
    /* To stick the footer to the bottom of the page */
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    min-height: 110px;
}

.jumbotron p {
    font-size: 16pt;
    color: #333;
}


/* CODE BLOCKS */
.highlight pre {
    font-size: 11pt;
    color: #333;
}

/* autosummary items */
.table > tbody > tr > td {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

/* Separator for class and function blocks */
.class {
    border-top: 1px solid #d2d2d2;
    padding-top: 20px;
    margin-top: 30px;
}

.function {
    border-top: 1px solid #d2d2d2;
    padding-top: 20px;
    margin-top: 30px;
}

.method {
    border-top: 1px solid #d2d2d2;
    margin-top: 30px;
    padding-top: 10px;
    margin-left: 30px;
}

.attribute {
    border-top: 1px solid #d2d2d2;
    margin-top: 30px;
    padding-top: 10px;
    margin-left: 30px;
}


/* Gallery images */

div.figure p.caption {
    text-align: center;
}
div.figure {
    padding: 0px;
    margin: 0px;
}
.sphx-glr-thumbcontainer .figure {
    padding: 0px;
    margin: 0px;
    width: 200px;
}

.sphx-glr-thumbcontainer img {
    width: 200px;
    max-height: 200px;
}

/* Navbar */

.menu {
    border: none;
    margin-bottom: 0px;
    background-color: #172c4d;
    color: #ffffff;
    position: relative;
    min-height: 50px;
    display: block;
    font-size: 16px;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);*/
    padding: 0px;
}

.menu a {
    color: #ffffff;
}

.menu-brand {
    font-size: 16pt;
    padding-top: 11px;
}

.menu-brand > a > img {
    padding-right: 10px;
}

.menu-brand > a:hover {
    text-decoration: none;
}

.menu-version {
    color: #777777;
    font-size: 11pt;
    font-weight: bold;
    margin-left: 10px;
}

.menu-list {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 40px;
}

.menu-list > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list > ul > li {
    display: inline;
    padding-right: 12px;
    padding-left: 12px;
}

.menu-search {
}

.dev-version-warning {
    font-size: 11pt;
    margin: 0px;
    border-radius: 0px;
    padding: 5px;
    padding-right: 35px;
}


/* Front page */

.banner {
    background-color: #172c4d;
    padding-top: 60px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
    color: #f9f9f9;
}

.banner-logo {
    width: 80%;
}

.site-title {
    margin-top: 30px;
}

.site-slogan {
    margin-top: 100px;
    font-size: 20pt;
}

.site-description {
    margin-top: 40px;
    font-size: 16pt;
    color: #bbbbbb;
}

.home-row {
    padding-top: 50px;
}

.home-row > h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30pt;
}

.home-row-video {
    margin-top: 40px;
}

.home-overview {
    margin-bottom: 40px;
}

.home-warning {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f39c12;
    color: #f9f9f9;
    font-size: 12pt;
}

.home-warning h3 {
    margin-top: 10.5px;
    margin-bottom: 10.5px;
    /*font-weight: bold;*/
}

.home-warning a {
    color: #f9f9f9;
    text-decoration: underline;
}
