.navbar {
    font-size: 11pt;
    font-weight: 500;
}
.navbar-brand  img {
    height: 100%;
    margin: 0px 10px;
}
.navbar-brand {
    font-size: 16pt;
    height: 60px;
    /*padding: 12px 0px 12px 15px;*/
}
.navbar-nav > li a {
    padding-top:18px;
    padding-bottom:19px;
}
.navbar-right {
    padding-top:8px;
}
.navbar .dropdown-menu > li > a {
    font-size: 11pt;
    font-weight: 350;
    padding-top: 9px;
    padding-bottom: 9px;
}
blockquote {
    font-size: 15px;
}
.navbar .navbar-version {
    font-size: 9pt;
    color: #919191;
    padding-top: 9px;
}
.alert {
    font-size: 11pt;
    font-weight: 400;
}
