body {
    color: #222;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 12pt;
}
a {
    color: #008CBA;
}
h2 {
    margin-top: 50px;
}
.navbar {
    background-color: #333;
    border-radius: 0px;
}
.navbar-brand  img {
    height: 40px;
    margin: 0px 10px;
}
.navbar-brand {
    padding-top: 10px;
    font-size: 20pt;
}
blockquote {
    font-size: 12pt;
    color: #6F6F6F;
}

.alert {
    font-size: 12pt;
}
.alert a {
    color: #FFF;
    text-decoration: underline;
}

.footer {
    color: #6F6F6F;
    margin-top: 50px;
    padding-bottom: 30px;
    font-size: 11pt;
}

.jumbotron p {
    font-size: 16pt;
    color: #333;
}

/* CODE BLOCKS */
.highlight pre {
    font-size: 11pt;
    color: #333;
}

/* autosummary items */
.table > tbody > tr > td {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

/* Separator for class and function blocks */
.class {
    border-top: 1px solid #d2d2d2;
    padding-top: 20px;
    margin-top: 30px;
}
.function {
    border-top: 1px solid #d2d2d2;
    padding-top: 20px;
    margin-top: 30px;
}
.method {
    border-top: 1px solid #d2d2d2;
    margin-top: 30px;
    padding-top: 10px;
    margin-left: 30px;
}
.attribute {
    border-top: 1px solid #d2d2d2;
    margin-top: 30px;
    padding-top: 10px;
    margin-left: 30px;
}

/* Gallery images */
div.figure p.caption {
    text-align: center;
}
div.figure {
    padding: 0px;
    margin: 0px;
}
.sphx-glr-thumbcontainer .figure {
    padding: 0px;
    margin: 0px;
    width: 200px;
}

.sphx-glr-thumbcontainer img {
    width: 200px;
    max-height: 200px;
}
